<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBarLaunch"
                android:launchMode="singleTask"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Handle mediahub:// URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                        android:scheme="mediahub"
                        android:host="*" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

    <queries>
        <!-- Explicit apps you know in advance about: -->
        <package android:name="de.ava" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.amazon.avod.thirdpartyclient" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="com.hulu.plus" />
        <package android:name="com.hbo.hbonow" />
        <package android:name="com.apple.atve.android.appletv" />
        <package android:name="com.cbs.app" />
        <package android:name="com.peacocktv.peacockandroid" />
        <package android:name="com.moviebase" />
        <package android:name="com.letterboxd" />
        <package android:name="tv.trakt.trakt" />
        <package android:name="com.justwatch.justwatch" />
        <package android:name="com.imdb.mobile" />
        <package android:name="com.plexapp.android" />
        <package android:name="org.jellyfin.mobile" />
        <package android:name="org.xbmc.kodi" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.cinemabox" />
        <package android:name="com.tozelabs.tvshowtime" />
        <package android:name="com.mubi" />
        <package android:name="com.criterionchannel.android" />
        <package android:name="ru.kinopoisk" />
        <package android:name="com.simkl" />
        <package android:name="com.themoviedb" />
        <package android:name="om.thetvdb" />
        <package android:name="pl.filmweb.ffw" />
        <package android:name="com.allocine.app" />
        <package android:name="com.betaseries.iliad" />
        <package android:name="com.dubbingbase.app" />
        <package android:name="com.kevinforeman.nzb360" />
    </queries>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>